.flex-container{
display:flex;
flex-direction: row;
justify-content: space-evenly;
/*flex-wrap: nowrap;*/
/*align-items:flex-end;*/
}
.f1{
    background-color: chocolate;
    flex-grow: 3;
    order:1;
}
.f2{
    background-color: bisque;
    flex-grow:2;
    order:3
}
.f3{
    background-color: palegreen;
    flex-grow: 2;
    order:2  
}
.f4{
    background-color: plum;
    order:5
}
.f5{
    background-color: lightskyblue;
    order:4
   
}